@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); 
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom right, #4facfe, #00f2fe);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 60px;
  color: #333;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

.weather-box, .error-box {
  background: white;
  padding: 20px;
  width: 350px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

input[type="text"] {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  outline: none;
}

input[type="submit"] {
  padding: 10px 20px;
  border: none;
  background: #0078ff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #005fcc;
}